body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
.navbar-brand,
h3 {
  display: inline-block;
}
.navbar-brand,
ul {
  color: white;
}
